<a href="https://colab.research.google.com/github/gjm112/LoyolaTeaching/blob/main/3_Sets_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

These are collections of unordered **unique items**. 
Sets are useful for membership tests

In [ ]:
#Useful for membership tests
tech_stonks = set(['IBM','AAPL','MSFT'])
'IBM' in tech_stonks

True

In [ ]:
'FB' in tech_stonks

False

In [ ]:
#Sets are useful for duplicate elimination
names = ['Harry','Ron','Hermione','Hagrid','Harry']
unique = set(names)
print(unique)

{'Ron', 'Hagrid', 'Hermione', 'Harry'}

In [ ]:
#Other set operations
unique.add('Snape')
print(unique)
unique.remove('Hagrid')
print(unique)

{'Snape', 'Ron', 'Hermione', 'Harry', 'Hagrid'}
{'Snape', 'Ron', 'Hermione', 'Harry'}

In [ ]:
a1 = set(['Bart','Lisa','Maggie','Marge'])
a2 = set(['Bart','Homer','Marge'])
#Union
print('Union:', a1 | a2)
#Intersection
print('Interscetion:',a1 & a2)
#Set difference
print('Set difference:',a1 - a2)

Union: {'Homer', 'Maggie', 'Bart', 'Lisa', 'Marge'}
Interscetion: {'Bart', 'Marge'}
Set difference: {'Lisa', 'Maggie'}

#Dictionaries

A collection of values indexed by "keys". 

Dictionaries are useful when: 


* There are many different values   
* The values will be modified/manipulated

Can be declared using the keyword dict or curly braces {}.

In [ ]:
#two ways to decalre a dictionary.  
characters = dict()
characters = {}

In [ ]:
#Keys serve as filed names 
s = {'first':'Harry', 'last':'Potter'}
s

{'first': 'Harry', 'last': 'Potter'}

In [ ]:
#To get a value, use the key name. 
print(s['first'])

print(s['last'])

Harry
Potter

In [ ]:
#Values cannot be referenced as an index value 
s[0]

KeyError: ignored

In [ ]:
#Adding/modifying values 
s['first'] = 'The chosen one'
s['dob'] = 'July 31'
s

{'dob': 'July 31', 'first': 'The chosen one', 'last': 'Potter'}

## Deleting Values

In [ ]:
del s['dob']
print(s)

{'last': 'Potter', 'first': 'The chosen one'}

In [ ]:
#deleting a key and returning it's value
#It "pops" out of the dictionary.
s.pop('first')
print(s)

{'last': 'Potter'}

## Keys

In [ ]:
#Keys can be strings, integers, tuples (composite keys)
#Examples:
holidays = { (1,1): 'New Years', (3,14): 'Pi Day', (7,11): 'Slurpee Day'}
holidays[3, 14]

'Pi Day'

## Looping through a dictionary

In [ ]:
#The loop variable is the key
employee = {'first_name':'Harry', 'last_name':'Potter', 'bod':"July 31", "pet":'Hedwig','house':'Gryffindor',"school":'Hogwarts','sport':"Quidditch"}
for i in employee: 
  print(i)

first_name
last_name
bod
pet
house
school
sport

In [ ]:
#.keys()
employee.keys()

dict_keys(['first_name', 'last_name', 'bod', 'pet', 'house', 'school', 'sport'])

In [ ]:
#Check to see if a key is in a dictionary
'best_friend' in employee.keys()

False

In [ ]:
employee = {'first_name':'Harry', 'last_name':'Potter', 'bod':"July 31", "pet":'Hedwig','house':'Gryffindor',"school":'Hogwarts','sport':"Quidditch"}
for i in employee: 
  print(employee[i])

Harry
Potter
July 31
Hedwig
Gryffindor
Hogwarts
Quidditch

KeyError: ignored

In [ ]:
#This is the same thing.
for i in employee.keys(): 
  print(employee[i])

In [ ]:
#Retrieve the values in a dictionary
employee.values()

dict_values(['Harry', 'Potter', 'July 31', 'Hedwig', 'Gryffindor', 'Hogwarts', 'Quidditch'])

In [ ]:
for i in employee.values():
  print(i)

Harry
Potter
July 31
Hedwig
Gryffindor
Hogwarts
Quidditch

## Dictionary Length

In [ ]:
#len command
#returns the number of key-value pairs
len(employee)

7

Other dictionary commands.


*  clear: d.clear(): Empties keys and values
*  copy: new = d.copy: copies ditionary into new dictionary
*  items: d.items(): Returns key-value pairs
*  popitem: d.popitem(): removes and returns the last inserted key-value pair
*  get: d.get(*key*) Returns the value for the key value (an alternative to d[key]

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
print(d)
d.clear()
d

{'one': 'greg', 'two': 'matthews', 'three': 'PhD'}

{}

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
e = d.copy()
print(e)

{'one': 'greg', 'two': 'matthews', 'three': 'PhD'}

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
d.items()

dict_items([('one', 'greg'), ('two', 'matthews'), ('three', 'PhD')])

In [ ]:
d = {'one':'greg','two':'matthews','three':'PhD'}
print(d.pop('one'))
print(d)

greg
{'two': 'matthews', 'three': 'PhD'}

In [ ]:
d = {'first' : 'Hermione', 'last' : 'Granger', 'pet' : "Crookshanks"}
for key, value in d.items():
  print("Key =", key, ", Value =",value)

Key = first , Value = Hermione
Key = last , Value = Granger
Key = pet , Value = Crookshanks

## Sorting a dictionary

In [111]:
d = {"There":1,
     'will': 1,
     'be': 1,
     'no': 1,
     'foolish':1,
     'wand-waving':1,
     'or':1,
     'silly':1,
     "incantations":1,
     'in':3}
    
#print(d)    


#Why doesn't this work?
#import operator
#This is how you used to do it.
#sorted_d = dict(sorted(d.items(), key = operator.itemgetter(1)))
#sorted_d

#This just sorts the keys and returns only keys
print(sorted(d))

# This sorts on the keys but returns the keys AND values
sorted(d.items())

['There', 'be', 'foolish', 'in', 'incantations', 'no', 'or', 'silly', 'wand-waving', 'will']
[('will', 1), ('wand-waving', 1), ('silly', 1), ('or', 1), ('no', 1), ('incantations', 1), ('in', 3), ('foolish', 1), ('be', 1), ('There', 1)]
[('will', 1), ('wand-waving', 1), ('silly', 1), ('or', 1), ('no', 1), ('incantations', 1), ('in', 3), ('foolish', 1), ('be', 1), ('There', 1)]

In [112]:
#here is how to sort based on the keys 
#Notice that I'm using [0]
#The keys are element 0.  The values are element 1.
print(sorted(d.items(), key = lambda kv: kv[0], reverse = True))

[('will', 1), ('wand-waving', 1), ('silly', 1), ('or', 1), ('no', 1), ('incantations', 1), ('in', 3), ('foolish', 1), ('be', 1), ('There', 1)]

In [113]:
#Here is how to sort based on the values
#Notice that I'm using [1]
#The keys are element 0.  The values are element 1.
#By default in sorts smallest to largest.  
#Reverse.....reverses that and sorts largest to smallest.  
print(sorted(d.items(), key = lambda kv: kv[1], reverse = True))

[('in', 3), ('There', 1), ('will', 1), ('be', 1), ('no', 1), ('foolish', 1), ('wand-waving', 1), ('or', 1), ('silly', 1), ('incantations', 1)]

## Dictionary of dictionaries

In [116]:
#Note for myself: Dictionaries in python are sort of like lists in R.  
#You can have a list of lists and you can have dictionaries of dictionaries
characters = {'Harry Potter':{'pet':"Hedwig",'sports':'Quidditch','house':"Gryffindor"},
              'Hermione Granger':{'pet':"Crookshanks",'sports':'Studying','house':"Gryffindor"},
              'Ron Weasley': {'pet':"Scabbers",'sports':'none','house':"Gryffindor"}}

#Call by the keys
print(characters['Harry Potter'])

#Call by two levels
print(characters['Ron Weasley']['pet'])

{'pet': 'Hedwig', 'sports': 'Quidditch', 'house': 'Gryffindor'}
Scabbers

# Example

In [119]:
import csv

mydict = {}
with open('Ex1_Dictionary_Exercise.txt', mode='r') as inp:
    reader = csv.reader(inp)
    dict_from_csv = {rows[0]:{'num_stocks':int(rows[1]),'price_per_stock':float(rows[2])}for rows in reader}

print(dict_from_csv)

{'GOOGL': {'num_stocks': 100, 'price_per_stock': 1575.57}, 'FB': {'num_stocks': 14, 'price_per_stock': 260.81}, 'SNAP': {'num_stocks': 91, 'price_per_stock': 21.7}, 'TWTR': {'num_stocks': 300, 'price_per_stock': 38.09}, 'PINS': {'num_stocks': 5, 'price_per_stock': 34.19}, 'AAPL': {'num_stocks': 15, 'price_per_stock': 497.48}, 'AMZN': {'num_stocks': 100, 'price_per_stock': 3284.72}, 'NFLX': {'num_stocks': 75, 'price_per_stock': 492.31}}

In [ ]:
dict_from_csv['GOOGL']
stock = 'GOOGL'
val = 0
for i in dict_from_csv.keys():
  temp = dict_from_csv[i]['price_per_stock']
  if temp > val:
    val = temp
    stock = i

print("The most valuable stock is",stock,"It is worth",dict_from_csv[stock]['price_per_stock'])

More practice with dictionaries!

https://www.w3resource.com/python-exercises/dictionary/